/* Reset some default styles to ensure consistency */
body, h1, h2, h3, p, ul, li, form {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    position: relative;
}

/* Navigation Bar */

nav {
    padding: 10px 10px 10px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav img{
    height: 50px;
}

.menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 10px 30px 0px 0px;
}
.menu_mobile{
    display: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    font-weight: bold;
    text-decoration:double;
    padding: 5px 10px;
}

nav ul li a:hover {
    color: #000000;
    background-color: #afafaf;
    border-radius: 5px;
    transition: 1000ms ease;

}

.hero{
    padding: 10px 0px 0px 50px;
    position: relative;
    /* height: 100vh; */
}

.home{
    color: white;
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home_text{
    text-align: left;
    width: 60%;
    padding-top: 50px;
}
.home_text h1{
    font-size: 80px;
}
.home_text p{
    color: #afafaf;
    font-size: 40px;
}
.home_text p span{
    font-weight: bolder;
    color: white;
}
.hero_img{
    height: 100vh;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -999;
}

/* About Section */
#about {
    padding: 50px;
    color: white;   
}

/* Portfolio Section */
#portfolio {
    color: #fff;
}
#portfolio h2{
    padding: 0px 50px;
}

.project {
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

.project img {
    max-width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.project h3 {
    margin-top: 10px;
}

/* Contact Section */
#contact {
    background-color: #f9f9f9;
    padding: 50px;
}

form {
    max-width: 500px;
    margin: 0 auto;
}

form label,
form input,
form textarea,
form button {
    display: block;
    margin-bottom: 10px;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
    .menu {
        display: none;    
    }
    .menu_mobile{
        display: block;
        position: fixed;
        top: 0;
        right: -50%; /* Initially hidden outside the viewport */
        width: 50%;
        height: 100vh;
        background-color: #b4b4b425;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transition:.8s ease; /* Slide animation */
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-top-left-radius: 50px;
    }
    .menu_mobile li{
        margin: 50px;
    }
    .active{
        display: block;
        right: 0;
    }

    .hero{
        padding-left: 20px;
    }

    .home_text{
        text-align: left ;
        padding-right: 20px;
        width: 50%;
    }

    .home_text h1{
        color: #ffffff;
        font-size: 25px;
        padding-top: 0px;
    }

    .about_me_card{
        padding: 20%;
        background: rgb(223, 223, 223);
        border-radius: 50px 0px 0px 50px;
        box-shadow: #000000;
    }
    .about_me_card p{
        color: #000000;
        padding-top:0px;
        font-size: 20px;
        text-align: justify;
        font-weight: bolder;
    }

    nav ul li {
        margin: 10px 0;
    }
    .hero_img{
        height: 43vh;

    }


}
